<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js"></script>
  <script src="firebase.js"></script>
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container">
        <div class="box">
          <h1 class="title">CheckIt!</h1>
          <div class="list">
            <div class="list-item">
              <div class="columns">
                <div class="column" v-for="user in usersOrderByIndex">{{ user.name.substr(0,2) }}</div>
                <div class="column is-6">やること</div>
              </div>
            </div>
            <div class="list-item" v-for="task in tasksOrderByIndex">
              <div class="columns">
                <div class="column" v-for="user in users">
                  <b-checkbox :value="user.progress >= task.index" @input="check(user, task, $event)"></b-checkbox>
                </div>
                <div class="column is-6">{{ task.name.substr(0, 58) }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        tasks: [],
        users: [],
      },
      methods: {
        check(user, task, on) {
          const progress = on ? task.index : (task.index > 1 ? task.index - 1 : 0);
          db.collection('users').doc(user.id).update({ progress });
        },
      },
      computed: {
        tasksOrderByIndex() {
          return this.tasks.sort((a, b) => a.index - b.index);
        },
        usersOrderByIndex() {
          return this.users.sort((a, b) => a.index - b.index);
        },
      },
      created() {
        listen('users', this.users);
        listen('tasks', this.tasks);
      },
    });
  </script>
</body>

</html>
